{% extends "base.html" %}
{% block content %}
{% load static %}
      <div class="Container">
         <div class="Content">
            <div class="Wrapper">
               <div class="LeftContent col-xl-6 col-sm-12 split-image-left background-1">
               </div>
               <div class="RightContent col-xl-6 col-sm-12 split-image-right">
                  <div class="row justify-content-center">
                     <div class="col-9">
                        <div class="row">
                           <div class="">

                              <p>Я начинающий бэкенд разработчик, мой основной язык Python (Питон). Сфера деятельности: веб.
                                  <br><br>
                                  Конечно большую часть времени я уделяю изучению технологий связанных непосредственно со всемирной паутиной, но на этом я стараюсь не останавливаться, так к применения python крайне разнообразны. Сейчас я джун, и мне интересно всё, связанное с IT.
                                  Я люблю и умею много учиться. Посвящая программированию все свое время, я развиваюсь и расту как профессионал каждый день.
                                  <br><br>
                                  Больше всего мне нравиться создавать сайты и решать алгоритмические задачи. В первом случае, очень мотивирует видеть результат сразу: подключаешь URL, пишешь функции и вот в браузере то, что ты создал. Невероятно, неправ да ли? Что до задач, то их решение это всегда преодоление себя, развитие своего мозга, путем максимального его задействования.
                              </p>

                              <p>
                                <div class="bg-light p-5 rounded">
                                  <h2>Git Hub</h2>
                                  <p>Примеры моего кода</p>
                                  <a href="https://github.com/SparklingAcidity"><button class="btn btn-outline-secondary" type="button">Sparkling_acidity</button></a>
                                </div>
                              </p>






                              <p>В чем я хорошa? Конечно же, в программирование на python!<br>
                                 Но это делеко не всё. Так как выполнение любой задачи требует использование разных инструментов и технологий,
                                 я стараюсь изучать и применять на практике как можно больше всего, улучшая свои профессиональные навыки.
                              </p>
                              <p>
                                 My skills:
                                <div>
                                  <div class="bd-example">
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Django, Django REST</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Flask, Flask-RESTful</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">GIT</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">SQL</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Docker</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Frontend: HTML, CSS, JS</div>
                                  </div>
                                  </div>
                                </div>
                              </p>
                              <p>
                                Иностранные языки:
                                <div>
                                  <div class="bd-example">

                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Английский</div>
                                  </div>
                                  <div class="progress mb-3">
                                    <div class="progress-bar bg-info text-dark w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Испанский</div>
                                  </div>
                                  </div>
                                </div>
                              </p>

                              <p>
                                 Моё знакомство с программированием началось 1,5 года назад, тогда у меня была другая профессия и я заканчивала институт.
                                  Первым языком я выбрала Python, так как сферы его применения крайне разнообразны, а синтаксис прост.
                                  Основной упор был сделан на web: различные фреймворки, такие как Django, Flask и Fast api, узучение сетевого стека, алготмов и основ computer seince.
                              </p>

                              <p>
                                  Летом 2020 дабы посвятить себя любимому делу, я ушла с постоянной работы и все свободное время посвящала программированию.
                                  Самообразование процесс не легкий, но при достаточном количестве мотивации и усердия, все возможно.
                                  За полгода я прошла огромное количество курсов, посмотрела десятки лекций, и сделала сотни заданий
                                  (Подробно о том на каких платформах я занималась, можно прочитать в моем резюме).
                              </p>

                              <p>
                                  В начале 2021 года я попала в EPAM на программу для начинающих разработчиков по направлению basic python.
                                  На протяжении нескольких месяцев мы интенсивно изучали особенности языка, делали задания, ходили на лекции, а также посещали тренинги по софт скиллам.
                                  Это во многом позволило мне научиться писать "правильный код" (тесты, документацию), использовать паттерны проектирования,
                                  работать через командрую строку и многое другое (вы можете ознакомиться с программой курса на Git Hub).
                              </p>

                              <p>
                                  Сейчас я нахожусь в поиске новой работы, интересного проекта, но в первую очередь сильной команды, у которой я смогла бы учиться, и вместе с которой расти.
                              </p>

                              <p>
                                 <div class="bg-light p-5 rounded">
                                     <h2>CV</h2>
                                     <p>Мое резюме</p>
                                     <a href="{% static 'img/cv.pdf' %}" download><button class="btn btn-outline-secondary" type="button">Скачать</button></a>
                                 </div>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>




{% endblock content %}

