{% extends "base.html" %}
{% block content %}
{% load static %}

      <!-- Contact -->
      <div class="container-fluid contact">
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <div class="row">
                  <div class="col-md-6 col-sm-12">
                     <p>
                        Александра Витальевна Воробьева:<br>
                        Python разработчик из Санкт-Петербурга.
                        <br><br>
                        GitHub: <u><a href="https://github.com/SparklingAcidity">Sparkling_acidity</a></u><br>
                        E-mail: V-Sash@mail.ru
                        <br><br>
                        Telegram: <u><a href="https://t.me/sparkling_acidity">Sparkling_acidity</a></u><br>
                        Instagram: <u><a href="https://www.instagram.com/alexandraisdeveloper/">@alexandraisdeveloper</a></u>
                     </p>
                  </div>
                  <div class="col-md-5 offset-md-1 col-sm-12">
                     <p>
                        ALEKSANDRA VOROBEVA<br>
                        Saint Petersburg, Russia<br>
                        E-MAIL: V-Sash@mail.ru<br>
                        TEL. +7-981-952-34-94<br><br>
                        <a href="{% static 'img/cv.pdf' %}" download><button class="btn btn-outline-secondary" type="button">CV/ Резюме</button></a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>


{% endblock content %}