{% extends "base.html" %}
{% block content %}
{% load static %}
      <div class="Container">
         <div class="Content">
            <div class="Wrapper">
               <div class="LeftContent col-xl-6 col-sm-12 split-image-left background-1">
               </div>
               <div class="RightContent col-xl-6 col-sm-12 split-image-right">
                  <div class="row justify-content-center">
                     <div class="col-9">
                        <div class="row">
                           <div class="">
                              <p>Меня зовут Александра и  бэкенд разработчик на python.
                                 Программированием я занимаюсь последние полтора года.
                                 За это время я освоила язык Питон, и различные вспомогательные инструмкенты (Git, Docker, PostgreSQL и др).
                                 Особое внимание уделяю изучению веб-фреймворков таких, как Flask, FastApi и Django.
                              <br><br>Сейчас я нахожусь в начале моего карьерного пути.
                                 Но в  моем портфолио уже есть множество завершенных проектов,
                                 с ними вы можете ознакомиться в разделе <u><a href="{% url 'projects' %}">Projects</a></u>.<br><br>
                                 Если у вас есть проект, стажировка или работа для меня, контактную информацию можно найти <u><a href="{% url 'contact' %}">тут</a></u>.
                              </p>
                              <img class="img-fluid pt-5 pb-5" src="static/img/photo-7.jpg" alt="Photo">
                              <p>
                                 My name is Alexandra and I'm a python back-end developer. I've been programming for the last year and a half. During this time, I've been learning python and some tools (Git, Docker, PostgreSQL, etc.). I pay special attention to the study of web-frameworks such as Flask, FastApi and Django.
                                 <br><br>Now I'm at the beginning of my career. But there are many completed projects in my portfolio, you can find them in the <u><a href="{% url 'projects' %}">Projects</a></u> section.
                              </p>
                              <img class="signature float-right" src="static/img/signature.png" alt="Signature">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Javascript -->

{% endblock content %}